UniRitterDemo.Console/Service References/AutorServiceReference/AutorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1232/AutorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1232/AutorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1232/AutorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniRitterDemo.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutorService_BuscarPorNome_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNome" />
  </wsdl:message>
  <wsdl:message name="IAutorService_BuscarPorNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorService_BuscarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodos" />
  </wsdl:message>
  <wsdl:message name="IAutorService_BuscarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutorService">
    <wsdl:operation name="BuscarPorNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/BuscarPorNome" message="tns:IAutorService_BuscarPorNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/BuscarPorNomeResponse" message="tns:IAutorService_BuscarPorNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/BuscarTodos" message="tns:IAutorService_BuscarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/BuscarTodosResponse" message="tns:IAutorService_BuscarTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutorService" type="tns:IAutorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarPorNome">
      <soap:operation soapAction="http://tempuri.org/IAutorService/BuscarPorNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTodos">
      <soap:operation soapAction="http://tempuri.org/IAutorService/BuscarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutorService">
    <wsdl:port name="BasicHttpBinding_IAutorService" binding="tns:BasicHttpBinding_IAutorService">
      <soap:address location="http://localhost:1232/AutorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>