UniRitterDemo.Console/Service References/AutorServiceReference/AutorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1232/AutorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniRitterDemo.Services.DataContracts" />
  <xs:element name="BuscarPorNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniRitterDemo.Services.DataContracts" minOccurs="0" name="BuscarPorNomeResult" nillable="true" type="q1:AutorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniRitterDemo.Services.DataContracts" minOccurs="0" name="BuscarTodosResult" nillable="true" type="q2:ArrayOfAutorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>